<aside ng-class="menu.move">
    <header>
        <input type="image" alt="Menu Principal" src="svg/menu-botao.svg" ng-click="menu.abrirMenu()"/>
        <button ng-click="menu.logout()">Logout</button>
        <div class="botoes">
            <div>
                <img alt="Relatório" src="svg/relatorio.svg"/>
                <span>Relatório</span>
            </div>
        </div>
    </header>
    <menu>
        <ul>
            <li><a ui-sref=".cadastro" ng-click="menu.abrirMenu()">CADASTRO</a></li>
            <li><a href="#/newProject/editar/1" ng-click="menu.abrirMenu()">EDITAR</a></li>
            <li><a ui-sref=".suporte" ng-click="menu.abrirMenu()">SUPORTE</a></li>
        </ul>
    </menu>
</aside>
<div ui-view></div>